@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Kanit:wght@300&family=Lora&family=Quicksand:wght@300&family=Roboto+Mono&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Kanit:wght@300&family=Lora&family=Quicksand:wght@500&family=Roboto+Mono&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Kanit:wght@300&family=Libre+Baskerville&family=Lora&family=Quicksand:wght@500&family=Roboto+Mono&family=Rubik:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*body {
  background-color: #537895;
  background-image: linear-gradient(45deg, #537895 0%, #09203f 74%);
  font-size: 100%;
  color: #333;
  font-family: Lato, Arial, sans-serif;
  height: 87vh;
}

main {
  position: relative;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  padding: 1em;
  color: white;
  margin-top: 90px;
  background: ; 
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7); 
  border-radius: 2em;
  overflow: hidden;
}*/

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
  background-color: #36096dc9;
  background-image: linear-gradient(315deg, #36096dce 0%, #37d5d6 74%);


  color: black;

 /*background-image: url('istockphoto-1213046569-612x612.jpg');
  background-size: cover;
  background-position: center;*/
  
}
main{
  
  position: relative;
  width: 100%;
  max-width: 600px; 
  margin: 0 auto; 
  /* background-color: ffffff;
  background-image: linear-gradient(10deg, #ffffff 0%, #91a6ff 74%); */
  background-color: #fce055;
background-image: linear-gradient(50deg, #fce055 0%, #256eff 90%, #46237a 100%);
  padding: 1em;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
border-radius: 2em;
  
  backdrop-filter:blur(25px);
  overflow: hidden;

}

table {
    display: flex;
    align-items: center;
    justify-content: center;
  margin: 1em 0;
  border-collapse: collapse;
 
  
/*   width: 100%; */
}

h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: Libre Baskerville;

 
}


.abhi{
  font-family: Quicksand;
  text-align: center;
  font-weight: 600;
 
}
.gadai{
  font-family: Quicksand;
}
td a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: rgba(0, 0, 0, 0.758);
  text-decoration: underline;
}


th,
td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: left;
  text-indent: -0.5em;
  font-size: 20px;
  padding: 17px;

}

th {
  vertical-align: bottom;
  background:transparent;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-family: Libre Baskerville;
}

td::before {
  display: none;
}

tr:nth-child(even) {
    border-bottom: 0.3px solid #bac5f79b;
}

tr:nth-child(odd) {
  border-bottom: 0.3px solid #b3c1feda;
}

/*td:nth-of-type(2) {
  font-style: italic;
}*/

th:nth-of-type(3),
td:nth-of-type(3) {
  text-align: center;
}

div {
  overflow: auto;
}
@media screen and (min-width :593px)and (max-width:633px){

main{
  width: 92%;
}
th,
td {
  
  padding: 11px;

}
}
@media screen and (max-width: 37em), print and (max-width: 5in) {
    table,
    tr,
    td {
      display: block;
    }
    tr {
      padding: 0.7em 2vw;
    }
    th,
    tr:first-of-type {
      display: none;
    }
    td::before {
      display: inline;
      font-weight: bold;
    }
main{
  border-radius: 0px;
}
   .abhi{
    text-align: left;
   }
    td {
      display: grid;
      grid-template-columns: 4em auto;
      grid-gap: 1em 0.5em;
    }
    caption {
      font-style: normal;
      background-color: rgba(0, 0, 0, 0.35);
      color: #fff;
      font-weight: bold;
    }
    td:nth-of-type(3) {
      text-align: left;
    }
    td:nth-of-type(4), td:nth-of-type(5) {
      text-align: right;
      width: 12em;
    }
    td:nth-of-type(4)::before, td:nth-of-type(5)::before {
      text-align: left;
    }
    td:nth-of-type(2)::before {
      font-style: 22px;
    }
    tr:nth-child(even) {
      border-bottom: 0.3px solid black;
  }
  
  tr:nth-child(odd) {
    border-bottom: 0.3px solid black;
  }
  
  }



